.container {
 display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: stretch;
}

.container * {
  border: 2px solid rgb(0, 0, 0);
  
margin: auto; 
}

.dayname {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
